<h1>Dashboard</h1>
<br>
<br>

<section>

   <section>
      <h4>Add Torrent</h3>
      <form action="/torrents/magnet-upload" method="POST">
         <input type="text" name="magnet" placeholder="magnet:uri" value="">
         <input type="submit" value="submit magnet" />
      </form>
         <!-- File upload doesn't work yet -->
      <form action="/torrents/file-upload" method="POST" enctype="multipart/form-data">
         <input id="dot-torrent" name='.torrent' type="file" />
         <input type="submit" value="upload" />
      </form>

   <% if (locals.messages.info) { %>
       <% messages.info.forEach( el => { %>
           <div class="alert"><%= el.msg %></div>
       <% }) %>    
   <% } %>
<% if (locals.messages.errors) { %>
     <% messages.errors.forEach( el => { %>
         <div class="alert alert-danger"><%= el.msg %></div>
     <% }) %>    
<% } %>
   </section>

   <h4>Torrents Table</h4>

   <section id='torrent-table'>
   <span>Rate: <%= `${(upRate / 1000).toFixed(2)}` %>/<%= `${(downRate / 1000).toFixed(2)}` %> KB/s</span>
      <table>
         <thead>
            <tr>
               <th></th>
               <th>Name</th>
               <th>Author</th>
               <th>Uprate (KB/s)</th>
               <th>Downrate (KB/s)</th>
               <th>Peer Count</th>
               <th>Status</th>
            </tr>
         </thead>
         <tbody>
            <% torrentsArray.forEach( torrent => { %>
            <tr>
               <td>
               <a href='/torrents/download/<%= torrent.infoHash %>'>v</a> |
               <a href='/torrents/<%= torrent.infoHash %>'>+</a>
               </td>
               <td><%= torrent.name %></td>
               <td><%= torrent.createdBy %></td>
               <td><%= `${(torrent.uploadSpeed / 1000).toFixed(2)}` %> KB/s</td>
               <td><%= `${(torrent.downloadSpeed / 1000).toFixed(2)}` %> KB/s</td>
               <td><%= torrent.numPeers %></td>
               <td><%= !torrent.done ? `Leeching: ${(torrent.progress * 100).toFixed(2)}%` : 'Seeding :)' %></td> 
             </tr>
             <% }) %>    
         </tbody>
      </table>
   </section>
</section>

<br>
<br>
