<h1>Torrent View</h1>
<br>

<h2><%=torrent.name%></h2>
<h4>Hash:<%=torrent.infoHash%></h4>

<section>
   <p>Author: <%=torrent.createdBy %><br>Comments: <%=torrent.comment %></p>
   <span>Date: <%= torrent.created %></span>
   <h5>Files</h5>
   <ul>
      <% torrent.files.forEach( file => { %>
          <li>
             <%= file.name %>: 

           <% if (file.length >= (1024 ** 3)) { %>
              <%= (file.length / (1024 ** 3)).toFixed(2) %> GB
           <% } else if (file.length >= (1024 ** 2)) { %>
              <%= (file.length / (1024 ** 2)).toFixed(2) %> MB
           <% } else if(file.length >= 1024) { %>
              <%= (file.length / 1024).toFixed(2) %> KB
           <% } else { %>
              <%=  file.length %>B
           <% } %>
          </li>
       <% }) %>    
   </ul>
</section>
